<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .box {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-left: 1px;
        }
        .row{
            flex-basis: 100%;
            display:flex;
            padding-top: 30px;
            padding-left: 1px;
        }
        .item1{
            width: 100%;
            padding-left: 50px;
        }
        .item2{
            width: 70%;
        }

    </style>
</head>
<body role="document">
<!-- 导航栏-->
{% include 'apitest/header_for_single_api_test.html' %}
<div class="box">
    <div class="row">
        <span class="item0">
            <div class="container page-header" style="padding-top: 30px;">
                <form class="navbar-form" method="post" action="{% url 'apitest:api_header' %}">
                {%  csrf_token %}
                <label>所属项目：</label>
                    <select style="padding: 1px; width: 150px;" name="selected_product_id" autocomplete="off">
                            <option value="-1">全部</option>
                        {%  for product in product_list %}
                            {% if product.id == selected_product_id %}
                                <option value ="{{ product.id }}" selected="selected">{{ product.productname }}</option>
                            {% else %}
                                <option value ="{{ product.id }}">{{ product.productname }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                <button type="submit" name="filter" style="margin-left: 100px">过滤（不好意思又让你多点一下鼠标）</button>
            </form>
            </div>
        </span>
        <span class="item1">
        <!-- header-->
        <div class="row" style="padding-top: 50px;">
        <div class="col-md-11">
            <table class="table table-striped" style="table-layout:fixed;">
                <thead>
                <tr style="text-align:left">
                    <th>ID</th>
                    <th>所属产品</th>
                    <th>变量名</th>
                    <th>变量值</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                {% for header in headers %}
                    <tr>
                        <td>{{ header.id }}</td>
                        <td>{{ header.Product.productname }}</td>
                        <td>{{ header.header_key }}</td>
                        <td>{{ header.header_value }}</td>
                        <td><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Headers" href="/admin/apitest/headers/{{ header.id }}/change/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-changelink.svg"/></a></td>
                        <td><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Headers" href="/admin/apitest/headers/{{ header.id }}/delete/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-deletelink.svg"/></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        </span>
        <span class="item2">
        <!-- 翻页功能-->
        <span style="position: absolute; right: 150px; bottom: 50px;">
        <div class="container">
            <ul class="pagination" id="pager">
                {# 上一页链接开始 #}
                {% if headers.has_previous %}
                    <li class="previous"><a href="/apitest/api_header/?page={{ headers.previous_page_number }}&selected_product_id={{ selected_product_id }}">上一页</a></li>
                {% else %}
                    <li class="previous disabled"><a href="#">上一页</a></li>
                {% endif %}
                &nbsp;&nbsp;
                {% for num in headers.paginator.page_range %}
                    {% if num == currentPage %}
                        <li class="item active" style="color: red"><a href="/apitest/api_header/?page={{ num }}&selected_product_id={{ selected_product_id }}">{{ num }}</a></li>
                    {% else %}
                        <li class="item"><a href="/apitest/api_header/?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    &nbsp;&nbsp;
                {% endfor %}

                {# 下一页链接开始 #}
                {% if headers.has_next %}
                    <li class="next"><a href="/apitest/api_header/?page={{ headers.next_page_number }}&selected_product_id={{ selected_product_id }}">下一页</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">下一页</a></li>
                {% endif %}
            </ul>
        </div>
        </span>
    </div>
</div>
</body>
</html>