<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
</head>
<body role="document">

<!-- 导航栏-->
{% include 'apitest/header.html' %}
<div class="page-header" style="padding-top: 30px">
    <div class="container row">
        <a href={% url 'apitest:form_api_flow_case' %}><button style="margin: 20px; padding-inline: 15px;">新建流程测试用例</button></a>
        <button style="margin: 20px; padding-inline: 15px;">button2</button>
    </div>
</div>
<!-- 流程接口列表-->
<div class="row">
    <div class="col-md-11">
        <table class="table table-striped" >
            <thead>
            <tr style="text-align:left" width=200px>
                <th>ID</th>
                <th>产品</th>
                <th>流程接口测试用例名称</th>
                <th>流程接口描述</th>
                <th>测试负责人</th>
                <th>测试结果</th>
                <th>测试用例步骤</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            {% for api_flow_test in api_flow_test_list %}
            <tr>
                <td style="text-align:left" width=200px>{{ api_flow_test.id }}</td>
                <td style="text-align:left" width=200px>{{ api_flow_test.Product.productname }}</td>
                <td style="text-align:left" width=200px>{{ api_flow_test.api_test_name }}</td>
                <td style="text-align:left" width=200px>{{ api_flow_test.api_test_desc }}</td>
                <td style="text-align:left" width=200px>{{ api_flow_test.api_tester }}</td>
                <td style="text-align:left" width=100px>{% if api_flow_test.api_test_result == 1 %}
                    <a style="color: green">{{ api_flow_test.api_test_result }}</a>
                {% else %}
                    <a style="color: #ff0000">{{ api_flow_test.api_test_result }}</a>
                {% endif %}
                </td>
                <td style="text-align:left" width=200px>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
                            展开查看
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                            <li><a href="{% url 'account:my_information' %}">个人信息</a></li>
                            <li><a href="{% url 'article:article_column' %}">栏目管理</a></li>
                        </ul>
                    </div>
                </td>
                <td width=200px><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Apitest" href="/admin/apitest/apiflowtest/{{ api_flow_test.id }}/change/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-changelink.svg"/></a></td>
                <td width=200px><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Apitest" href="/admin/apitest/apiflowtest/{{ api_flow_test.id }}/delete/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-deletelink.svg"/></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- 翻页功能-->
<span style="position: absolute; right: 150px; bottom: 100px;">
<div class="container">
    <ul class="pagination" id="pager">
        {# 上一页链接开始 #}
        {% if apitests.has_previous %}
        <li class="previous"><a href="/apitest/apitest_manage/?page={{ apitests.previous_page_number }}">上一页</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">上一页</a></li>
        {% endif %}

{#        {% for num in apitests.paginator.page_range %}#}
{#            {% if num == currentPage %}#}
{#            <li class="item active"><a href="/apitest/apitest_manage/?page={{ num }}">{{ num }}</a></li>#}
{#            {% else %}#}
{#            <li class="item"><a href="/apitest/apitest_manage/?page={{ num }}">{{ num }}</a></li>#}
{#            {% endif %}#}
{#        {% endfor %}#}

        {# 下一页链接开始 #}
        {% if apitests.has_next %}
        <li class="next"><a href="/apitest/apitest_manage/?page={{ apitests.next_page_number }}">下一页</a></li>
        {% else %}
        <li class="next disabled"><a href="#">下一页</a></li>
        {% endif %}
    </ul>
</div>

<!-- 统计功能-->
<div style="position: absolute; right:800px; width:100px;">
    <tr>
        <th>总数</th>
        <td>{{ api_flow_test_counts }}</td>
    </tr>
</div>

</body>
</html>