<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>api 测试</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <script rel="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maxinum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body role="document">

<!-- 导航栏-->
{% include 'apitest/header.html' %}

<!-- 搜索栏-->
<div class="page-header" style="padding-top: 70px">
    <form class="navbar-form" method="get" action="{% url 'apitest:search' %}">
        {%  csrf_token %}
        <input type="search" name="apitestname" placeholder="名称" required>
        <button type="submit">搜索</button>
    </form>
</div>


<!-- 添加数据-->
<div style="float: top">
    <select name="Apitest" id="id_Apitest">
        <option value="" selected>-----接口流程测试用例-----</option>
        {% for apitest in apitests %}
        <option value={{ apitest.id }}>{{ apitest.api_test_name }}</option>
        {% endfor %}
    </select>
    <a class="related-widget-wrapper-link change-related" id="change_id_Apitest" data-href-template="/admin/apitest/apitest/?????/change/?_to_field=id&amp;_popup=1" title="更改选中的测试用例">
        <img src="/static/admin/img/icon-changelink.svg" alt="修改"/>修改
    </a>
    <a class="related-widget-wrapper-link change-related" id="add_id_Apitest" href="/admin/apitest/apitest/add/?_to_filed=id&amp;_popup=1" title="增加一个测试用例">
        <img src="/static/admin/img/icon-addlink.svg" alt="增加"/>增加
    </a>
</div>

<!-- 流程接口列表-->
<div class="row" style="padding-top: 70px;">
    <div class="col-md-11">
        <table class="table table-striped" >
            <thead>
            <tr style="text-align:left" width=200px>
                <th>ID</th>
                <th>产品</th>
                <th>流程接口测试用例名称</th>
                <th>流程接口描述</th>
                <th>测试负责人</th>
                <th>测试结果</th>
                <th>测试用例步骤</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            {% for api_flow_test in api_flow_test_list %}
            <tr>
                <td style="text-align:left" width=200px>{{ api_flow_test.id }}</td>
                <td style="text-align:left" width=200px>{{ api_flow_test.Product.productname }}</td>
                <td style="text-align:left" width=200px>{{ api_flow_test.api_test_name }}</td>
                <td style="text-align:left" width=200px>{{ api_flow_test.api_test_desc }}</td>
                <td style="text-align:left" width=200px>{{ api_flow_test.api_tester }}</td>
                <td style="text-align:left" width=100px>{% if api_flow_test.api_test_result == 1 %}
                    <a style="color: green">{{ api_flow_test.api_test_result }}</a>
                {% else %}
                    <a style="color: #ff0000">{{ api_flow_test.api_test_result }}</a>
                {% endif %}
                </td>
                <td style="text-align:left" width=200px>
                    {% for apistep in api_flow_test.ApiStep %}
{#                    {{ api_flow_test.ApiStep }}#}
                        {{ apistep.api_name }} ->
                    {% endfor %}
                </td>
                <td width=200px><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Apitest" href="/admin/apitest/apiflowtest/{{ apitest.id }}/change/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-changelink.svg"/></a></td>
                <td width=200px><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Apitest" href="/admin/apitest/apiflowtest/{{ apitest.id }}/delete/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-deletelink.svg"/></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- 翻页功能-->
<span style="position: absolute; right: 150px; bottom: 100px;">
<div class="container">
    <ul class="pagination" id="pager">
        {# 上一页链接开始 #}
        {% if apitests.has_previous %}
        <li class="previous"><a href="/apitest/apitest_manage/?page={{ apitests.previous_page_number }}">上一页</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">上一页</a></li>
        {% endif %}

        {% for num in apitests.paginator.page_range %}
            {% if num == currentPage %}
            <li class="item active"><a href="/apitest/apitest_manage/?page={{ num }}">{{ num }}</a></li>
            {% else %}
            <li class="item"><a href="/apitest/apitest_manage/?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {# 下一页链接开始 #}
        {% if apitests.has_next %}
        <li class="next"><a href="/apitest/apitest_manage/?page={{ apitests.next_page_number }}">下一页</a></li>
        {% else %}
        <li class="next disabled"><a href="#">下一页</a></li>
        {% endif %}
    </ul>
</div>

<!-- 统计功能-->
<div style="position: absolute; right:800px; width:100px;">
    <tr>
        <th>总数</th>
        <td>{{ api_flow_test_counts }}</td>
    </tr>
</div>




</body>
</html>