<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <style>
        .th {
            padding: 5px;
            text-align: left;
            vertical-align: middle;
        }
        .td {
            padding: 5px;
            text-align: left;
            vertical-align: middle;
        }
    </style>
</head>
<body role="document">

<!-- 导航栏-->
{% include 'apitest/header_for_api_flow_test.html' %}
<div class="page-header" style="padding-top: 30px">
    <div class="container">
        <!-- 搜索栏-->
        <form class="navbar-form" method="get" action="{% url 'apitest:apissearch' %}">
            {%  csrf_token %}
            <input type="search" name="apiname" placeholder="名称" required>
            <button type="submit" style="margin-left: 20px">搜索（sorry尚未实现）</button>
        </form>
        <form class="navbar-form" method="post" action="{% url 'apitest:api_flow_test_manage' %}">
            {%  csrf_token %}
            <h3>选择测试范围：</h3>
            <label>所属项目：</label>
            <select style="padding: 1px; width: 150px;" name="selected_product_id" autocomplete="off">
                <option value="-1">全部</option>
                {%  for product in product_list %}
                    {% if product.id == selected_product_id %}
                        <option value ="{{ product.id }}" selected="selected">{{ product.productname }}</option>
                    {% else %}
                        <option value ="{{ product.id }}">{{ product.productname }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label style="margin-left: 20px">测试结果：</label>
            <select style="padding: 1px; width: 150px;" name="selected_test_result">
                <option value="-1">全部</option>
                {% for test_result in test_result_list %}
                    {% ifequal selected_test_result test_result %}
                        <option value="{{ test_result }}" selected>{% if test_result %}通过{% else %}不通过{% endif %}</option>
                    {% else %}
                        <option value="{{ test_result }}">{% if test_result %}通过{% else %}不通过{% endif %}</option>
                    {% endifequal %}
                {% endfor %}
            </select>
            <button type="submit" name="filter" style="margin-left: 50px">查看所选测试用例</button>
            <button type="submit" name="run_test" style="margin-left: 20px">执行测试</button>{{ test_result }}
        </form>
    </div>
</div>
<!-- 流程接口列表-->
<div class="row">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="th" rowspan="2">用例ID</th>
                <th class="th" rowspan="2">用例名称</th>
                <th class="th" rowspan="2">用例描述</th>
                <th class="th" colspan="6" style="text-align: center">测试步骤</th>
                <th class="th" rowspan="2">测试结果</th>
            </tr>
            <tr>
                <th class="th">接口id</th>
                <th class="th">url</th>
                <th class="th">query</th>
                <th class="th">body</th>
                <th class="th">出参</th>
                <th class="th">入参</th>
            </tr>
            </thead>
            <tbody>
                {% for item in relation_list %}
                    <tr>
                        <td class="td">{{ item.ApiFlowTest.id }}</td>
                        <td class="td">{{ item.ApiFlowTest.case_name }}</td>
                        <td class="td">{{ item.ApiFlowTest.case_desc }}</td>
                        <td class="td">{{ item.Apis.id }}</td>
                        <td class="td">{{ item.Apis.api_url }}</td>
                        <td class="td">{{ item.Apis.api_param_value }}</td>
                        <td class="td">{{ item.Apis.api_body_value }}</td>
                        <td class="td">{{ item.output_parameter }}</td>
                        <td class="td">{{ item.input_parameter }}</td>
                        <td class="td">{{ item.ApiFlowTest.case_test_result }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- 翻页功能-->
<span style="position: absolute; right: 150px; bottom: 100px;">
<div class="container">
    <ul class="pagination" id="pager">
        {# 上一页链接开始 #}
        {% if relation_list.has_previous %}
        <li class="previous"><a href="/apitest/api_flow_test_manage/?page={{ relation_list.previous_page_number }}&selected_product_id={{ selected_product_id }}&selected_test_result={{ selected_test_result }}&relation_list={{ relation_list }}">上一页</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">上一页</a></li>
        {% endif %}

{#        {% for num in apitests.paginator.page_range %}#}
{#            {% if num == currentPage %}#}
{#            <li class="item active"><a href="/apitest/apitest_manage/?page={{ num }}">{{ num }}</a></li>#}
{#            {% else %}#}
{#            <li class="item"><a href="/apitest/apitest_manage/?page={{ num }}">{{ num }}</a></li>#}
{#            {% endif %}#}
{#        {% endfor %}#}

        {# 下一页链接开始 #}
        {% if relation_list.has_next %}
        <li class="next"><a href="/apitest/api_flow_test_manage/?page={{ relation_list.next_page_number }}&selected_product_id={{ selected_product_id }}&selected_test_result={{ selected_test_result }}&relation_list={{ relation_list }}">下一页</a></li>
        {% else %}
        <li class="next disabled"><a href="#">下一页</a></li>
        {% endif %}
    </ul>
</div>

<!-- 统计功能-->
<div style="position: absolute; right:800px; width:100px;">
    <tr>
        <th>总数</th>
        <td>{{ api_flow_test_counts }}</td>
    </tr>
</div>

</body>
</html>