<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .box {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-left: 1px;
        }
        .row{
            flex-basis: 100%;
            display:flex;
            padding-top: 30px;
            padding-left: 1px;
        }
        .item1{
            width: 100%;
            padding-left: 50px;
        }
        .item2{
            width: 70%;
        }

    </style>
</head>
<body role="document">
<!-- 导航栏-->
{#{% load static %}#}
{#{% load my_tags %}#}
{#{% include 'apitest/header_for_single_api_test.html' %}#}
<div class="box">
    <div class="row">
        <span class="item0">
            <div class="container page-header" style="padding-top: 30px;">
                <form class="navbar-form" method="post" action="{% url 'apitest:api_header' %}">
                {%  csrf_token %}
                <label>所属项目：</label>
                    <select style="padding: 1px; width: 150px;" name="selected_product_id" autocomplete="off">
                            <option value="-1">全部</option>
                        {%  for product in product_list %}
                            {% if product.id == selected_product_id %}
                                <option value ="{{ product.id }}" selected="selected">{{ product.product_name }}</option>
                            {% else %}
                                <option value ="{{ product.id }}">{{ product.product_name }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                <button type="submit" name="filter" style="margin-left: 100px">过滤（不好意思又让你多点一下鼠标）</button>
            </form>
            </div>
        </span>
        <span class="item1">
        <div class="row" style="padding-top: 10px;">
        {% if headers|length == 0 %}
            <form class="navbar-form" method="post" action="{% url 'apitest:api_header' %}" style="padding-left: 10px">
                {%  csrf_token %}
                <div class="row" style="padding-left: 10px; padding-top: 10px">
                    <input type="hidden" name="selected_product_id" value={{ selected_product_id }} />
                    <div>
                        <h4>该项目暂无header，请添加:</h4>
                        <h5>支持Charles中raw格式直接复制过来</h5>
                        <h5 style="color: red">强烈建议复制refresh接口的header，成功率高</h5>
                        <label>请注意是否格式是xxx: xxxx（以及第1行 & 最后1行是否是无效内容）</label>
                        <br><textarea rows="30" cols="50" id="new_headers" name="new_headers" placeholder="注意检查格式哦" style="resize:none; margin-top: 10px">{{ new_headers }}</textarea>
                        <br><button type="submit" name="check">检查格式</button>
                        <button type="submit" name="add">添加</button>
                        <br style="color: red">{{ check_info }}
                    </div>
                </div>
            </form>
        {% else %}
            <table class="table table-striped" style="table-layout:fixed;">
                <thead>
                <tr style="text-align:left">
                    <th>ID</th>
                    <th>所属产品</th>
                    <th>变量名</th>
                    <th>变量值</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                    {% for header in headers %}
                        <tr>
                        <td>{{ header.id }}</td>
                        <td>{{ header.Product.product_name }}</td>
                        <td>{{ header.header_key }}</td>
                        <td>{{ header.header_value }}</td>
                        <td><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Headers" href="/admin/apitest/headers/{{ header.id }}/change/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-changelink.svg"/></a></td>
                        <td><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Headers" href="/admin/apitest/headers/{{ header.id }}/delete/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-deletelink.svg"/></a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>自增</td>
                        <td><input type="text" id="product_id" placeholder="项目名称"></td>
                        <td><input type="text" id="new_variable_name" placeholder="变量名"></td>
                        <td><input type="text" id="new_variable_value" placeholder="变量值"></td>
                        <td><button style="padding-inline: 15px" onclick="add_new_header()">添加新header</button></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        {% endif %}
        </div>
        </span>
        <span class="item2">
        <!-- 翻页功能-->
        <span style="position: absolute; right: 150px; bottom: 50px;">
        <div class="container">
            <ul class="pagination" id="pager">
                {# 上一页链接开始 #}
                {% if headers.has_previous %}
                    <li class="previous"><a href="/apitest/api_header/?page={{ headers.previous_page_number }}&selected_product_id={{ selected_product_id }}">上一页</a></li>
                {% else %}
                    <li class="previous disabled"><a href="#">上一页</a></li>
                {% endif %}

                {# 下一页链接开始 #}
                {% if headers.has_next %}
                    <li class="next"><a href="/apitest/api_header/?page={{ headers.next_page_number }}&selected_product_id={{ selected_product_id }}">下一页</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">下一页</a></li>
                {% endif %}
            </ul>
        </div>
        </span>
    </div>
</div>
{#<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
<script>
    function add_new_header() {
        var product_id = document.getElementById('product_id').value
        var new_variable_name = document.getElementById('new_variable_name').value
        var new_variable_value = document.getElementById('new_variable_value').value

        if (product_id == ''){
            alert('项目名称未填')
        }else if (new_variable_name == ''){
            alert('变量名未填')
        }else if (new_variable_value == ''){
            alert('变量值未填')
        }else {
            $.ajax({
                url: "{% url 'apitest:api_header' %}",
                type: "POST",
                data: {"new_headers": new_variable_name + ':' + new_variable_value, 'add': '', 'selected_product_id': product_id},
                success: function (e){
                    if (e=="0"){
                        alert('没有找到该项目')
                    }else {
                        window.location.reload();
                    }
                },
            })
        }
    }
</script>
</body>
</html>