<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>api 测试</title>
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center">
            <li><a style="color: white" href="{% url 'apitest:apitest_manage' %}">流程接口测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'apitest:apistep_manage' %}">流程接口测试步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'apitest:apis_manage' %}">单一接口测试用例</a></li>
        </ul>
        <ul class="nav justify-content-center">
            <li class="nav-link"><a style="color: white" href="{% url 'apitest:apitest_manage' %}">{{ user }}</a></li>
            <li class="nav-link"><a style="color: white" href="{% url 'apitest:logout'%}">退出</a></li>
        </ul>
    </div>
</nav>
<!-- 单一接口测试用例-->
<div class="row" style="padding-top: 70px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr style="text-align:left">
                <th>ID</th>
                <th>产品</th>
                <th>单一接口测试用例名称</th>
                <th>URL 地址</th>
                <th>参数=值</th>
                <th>方法</th>
                <th>预期结果</th>
                <th>测试结果</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            {% for apis in apiss %}
                <tr>
                    <td width=100px>{{ apis.id }}</td>
                    <td width=200px>{{ apis.Product.productname }}</td>
                    <td width=300px>{{ apis.apiname }}</td>
                    <td width=500px>{{ apis.apiurl }}</td>
                    <td width=300px>{{ apis.apiparamvalue }}</td>
                    <td width=150px>{{ apis.apimethod }}</td>
                    <td width=300px>{{ apis.apiresult }}</td>
                    <td width=200px>{{ apis.apistatus }}</td>
                    <td width=200px>{{ apis.create_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


</body>
</html>