<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>api 测试</title>
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center">
            <li><a style="color: white" href="{% url 'apitest:apitest_manage' %}">流程接口测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'apitest:apistep_manage' %}">流程接口测试步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'apitest:apis_manage' %}">单一接口测试用例</a></li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color: white" href="{% url 'apitest:apitest_manage' %}">{{ user }}</a></li>
            <li class="nav-link"><a style="color: white" href="{% url 'apitest:logout'%}">退出</a></li>
        </ul>
    </div>
</nav>

<!-- 流程接口列表-->
<div class="row" style="padding-top: 70px;">
    <div class="col-md-11">
        <table class="table table-striped" style="text-align:left">
            <thead>
            <tr>
                <th>所属产品</th>
                <th>所属用例</th>
                <th>步骤</th>
                <th>URL 地址</th>
                <th>参数=值</th>
                <th>方法</th>
                <th>预期结果</th>
                <th>测试结果</th>
                <th>执行时间</th>
            </tr>
            </thead>
            <tbody style="text-align:left">
            {% for apistep in apisteps %}
                <tr style="text-align:left">
                    <td style="text-align:left" width=100px>{{ apistep.Apitest.Product.productname}}</td>
                    <td style="text-align:left" width=200px>case{{ apistep.Apitest.id }} : {{ apistep.Apitest.apitestname }}</td>
                    <td style="text-align:left" width=100px>{{ apistep.apistep }} : {{ apistep.apitname }}</td>
                    <td style="text-align:left" width=600px>{{ apistep.apiurl }}</td>
                    <td style="text-align:left" width=200px>{{ apistep.apiparamvalue }}</td>
                    <td style="text-align:left" width=100px>{{ apistep.apimethod }}</td>
                    <td style="text-align:left" width=100px>{{ apistep.apiresult }}</td>
                    <td style="text-align:left" width=100px>{% if apistep.apistatus == 1 %}
                        <a style="color: green">{{ apistep.apistatus }}</a>
                        {% else %}
                        <a style="color: #ff0000">{{ apistep.apistatus }}</a>
                        {% endif %}
                    </td>
                    <td style="text-align:left" width=200px>{{ apistep.create_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>