<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <style>
        .box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            align-content: flex-start;
            width: 100%;
        }
        .column {
            align-self: flex-start;
            padding-left: 10px;
            width: 100%;
        }
        .row{
            flex-basis: 100%;
            display:flex;
            padding-left: 10px;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
        }
        .item1, .item3 {
            align-items: flex-start;
            width: 100%;
        }
        .td,.th {
            white-space: pre-wrap;
            width: 70px;
        }
    </style>
</head>
<body role="document">
<!-- 导航栏-->
{% include 'apitest/header_for_single_api_test.html' %}
<div class="box">
    <div class="column">
        <span class="item1">
            <div class="container">
            <!-- 搜索栏-->
            <div class="page-header" style="padding-top: 30px">
                <form class="navbar-form" method="get" action="{% url 'apitest:apissearch' %}">
                    {%  csrf_token %}
                    <input type="search" name="search_keyword" placeholder="名称/url" required>
                    <button type="submit" style="margin-left: 20px">搜索接口（支持按照接口名称和url搜索）</button>
                </form>
                <form class="navbar-form" method="post" action="{% url 'apitest:apis_manage' %}">
                    {%  csrf_token %}
                    <h3>选择测试范围：（暂不支持不同项目的case一起运行）</h3>
                    <label>所属项目：</label>
                         <select style="padding: 1px; width: 150px;" name="selected_product_id" autocomplete="off">
                            <option value="-1">全部</option>
                             {%  for product in product_list %}
                                 {% if product.id == selected_product_id %}
                                     <option value ="{{ product.id }}" selected="selected">{{ product.product_name }}</option>
                                 {% else %}
                                     <option value ="{{ product.id }}">{{ product.product_name }}</option>
                                 {% endif %}
                             {% endfor %}
                        </select>
                    <label style="margin-left: 20px">测试结果：</label>
                        <select style="padding: 1px; width: 150px;" name="selected_test_result">
                            <option value="-1">全部</option>
                            {% for test_result in test_result_list %}
                                {% ifequal selected_test_result test_result %}
                                    <option value="{{ test_result }}" selected>{% if test_result %}通过{% else %}不通过{% endif %}</option>
                                {% else %}
                                    <option value="{{ test_result }}">{% if test_result %}通过{% else %}不通过{% endif %}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    {% if show_not_for_test == "show_not_for_test" %}
                        <label style="margin-left: 10px"><input name="show_not_for_test" type="checkbox" value="show_not_for_test" checked/>也显示不参与测试的接口  </label>
                    {% else %}
                        <label style="margin-left: 10px"><input name="show_not_for_test" type="checkbox" value="show_not_for_test"/>也显示不参与测试的接口  </label>
                    {% endif %}
                    <button type="submit" name="filter" style="margin-left: 50px">查看所选测试用例</button>
                    <button type="submit" name="run_test" style="margin-left: 20px">执行测试</button>
                    <h2 style="color: red; position: relative;">{{ fail_message }}</h2>
                </form>
            </div>
            </div>
        </span>
    </div>
    <div class="row">
        <span class="item3">
            <!-- 单一接口测试用例-->
            <div class="row">
                <div class="col-md-11">
                    <table class="table table-striped" style="table-layout: fixed">
                        <thead>
                        <tr style="text-align:left; padding: 1px">
                            <th class="th">ID</th>
                            <th class="th">产品</th>
                            <th class="th">接口名称</th>
                            <th class="th" style="width: 200px">URL 地址</th>
                            <th class="th" style="width: 300px">请求参数</th>
                            <th class="th" style="width: 300px">请求 body</th>
                            <th class="th">方法</th>
                            <th class="th">预期状态码</th>
                            <th class="th">测试通过？</th>
                            <th class="th">测试状态码</th>
                            <th class="th">不测试标记</th>
                            <th class="th">调试</th>
                            <th class="th">编辑</th>
                            <th class="th">删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for apis in api_list %}
                            <tr>
                                <td class="td">{{ apis.id }}</td>
                                <td class="td">{{ apis.Product.product_name }}</td>
                                <td class="td">{{ apis.api_name }}</td>
                                <td class="td">{{ apis.api_url }}</td>
                                <td class="td">{{ apis.api_param_value }}</td>
                                <td class="td">{{ apis.api_body_value }}</td>
                                <td class="td">{{ apis.api_method }}</td>
                                <td class="td">{{ apis.api_expect_status_code }}</td>
                                <td class="td">{{ apis.test_result }}</td>
                                <td class="td">{{ apis.api_response_status_code }}</td>
                                <td class="td">
                                    {% if apis.not_for_test %}
                                        <label><input name="not_for_test" type="checkbox" checked onclick="not_for_test(this, {{ apis.id }})"/>不参与单一接口测试</label>
                                    {% else %}
                                        <label><input name="not_for_test" type="checkbox" onclick="not_for_test(this, {{ apis.id }})"/>不参与单一接口测试</label>
                                    {% endif %}
                                </td>
                                <td class="td"><button style="padding-inline: 15px" onclick="debug({{ apis.id }}, {{ selected_test_result }}, {{ selected_product_id }})">测试此接口</button></td>
                                <td class="td" style="padding: 10px"><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Apis" href="/admin/apitest/apis/{{ apis.id }}/change/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-changelink.svg"/></a></td>
                                <td class="td"><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Apis" href="/admin/apitest/apis/{{ apis.id }}/delete/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-deletelink.svg"/></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </span>
    </div>
    <div class="column">
        <span class="item4">
            <!-- 翻页功能-->
            <div class="container">
                <ul class="pagination" id="pager">
                    {# 上一页链接开始 #}
                    {% if api_list.has_previous %}
                        <li class="previous"><a href="/apitest/apis_manage/?page={{ api_list.previous_page_number }}&selected_product_id={{ selected_product_id }}&selected_test_result={{ selected_test_result }}&api_list={{ api_list }}&show_not_for_test={{ show_not_for_test }}">上一页</a></li>
                    {% else %}
                        <li class="previous disabled"><a href="#">上一页</a></li>
                    {% endif %}
                    {# 下一页链接开始 #}
                    {% if api_list.has_next %}
                        <li class="next"><a href="/apitest/apis_manage/?page={{ api_list.next_page_number }}&selected_product_id={{ selected_product_id }}&selected_test_result={{ selected_test_result }}&api_list={{ api_list }}&show_not_for_test={{ show_not_for_test }}">下一页</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
        </span>
        <span class="item5">
            <div>
                <tr>
                    <th>总数（=参与测试的数量）</th>
                    <td>{{ apis_count }}</td>
                </tr>
            </div>
        </span>
    </div>
</div>
<script>
    function not_for_test(ele, case_id) {
        var is_not_for_test = ele.checked
        $.ajax({
            url: "{% url 'apitest:change_api_not_for_test' %}",
            type: "POST",
            data: {"case_id": case_id, 'is_not_for_test': is_not_for_test},
            success: function (e){
                if (e=="0"){
                    alert('标记失败')
                }
            },
        })
    }


    function debug(case_id, selected_test_result, selected_product_id){
        $.ajax({
            url: "{% url 'apitest:apis_manage' %}",
            type: "POST",
            data: {"case_id": case_id, 'debug': '', 'selected_test_result': selected_test_result, 'selected_product_id': selected_product_id},
            success: function (result){
                alert(result)
            },
        })
    }
</script>
</body>
</html>