<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <style>
        .box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            align-content: flex-start;
        }
        .column {
            align-self: flex-start;
            padding-left: 10px;
        }
        .row{
            flex-basis: 100%;
            display:flex;
            padding-left: 10px;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .item1 {
            align-items: flex-start;
        }

        .row:nth-child(2){
            justify-content: flex-end;
        }

        .row:nth-child(3){
            justify-content: flex-end;
        }

    </style>
</head>
<body role="document">
<!-- 导航栏-->
{% include 'apitest/header_for_single_api_test.html' %}
<div class="box">
    <div class="column">
        <span class="item1">
            <div class="container">
            <!-- 搜索栏-->
            <div class="page-header" style="padding-top: 30px">
                <form class="navbar-form" method="get" action="{% url 'apitest:apissearch' %}">
                    {%  csrf_token %}
                    <input type="search" name="apiname" placeholder="名称" required>
                    <button type="submit" style="margin-left: 20px">搜索</button>
                </form>
                <form class="navbar-form" method="post" action="{% url 'apitest:apis_manage' %}">
                    {%  csrf_token %}
                    <label>选择测试范围：</label>
                    <label>所属项目：</label>
                         <select style="padding: 1px; width: 150px;" name="selected_product_id" autocomplete="off">
                            <option value="-1">全部</option>
                             {%  for product in product_list %}
                                 {% if product.id == selected_product_id %}
                                     <option value ="{{ product.id }}" selected="selected">{{ product.productname }}</option>
                                 {% else %}
                                     <option value ="{{ product.id }}">{{ product.productname }}</option>
                                 {% endif %}
                             {% endfor %}
                        </select>
                    <label style="margin-left: 20px">测试结果：</label>
                        <select style="padding: 1px; width: 150px;" name="selected_test_result">
                            <option value="-1">全部</option>
                            {% for test_result in test_result_list %}
                                {% ifequal selected_test_result test_result %}
                                    <option value="{{ test_result }}" selected>{% if test_result %}通过{% else %}不通过{% endif %}</option>
                                {% else %}
                                    <option value="{{ test_result }}">{% if test_result %}通过{% else %}不通过{% endif %}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    <button type="submit" name="filter" style="margin-left: 50px">查看所选测试用例</button>
                    <button type="submit" name="run_test" style="margin-left: 20px">执行测试</button>
                </form>
            </div>
            </div>
        </span>
    <div class="row">
        <span class="item3">
            <!-- 单一接口测试用例-->
            <div class="row">
                <div class="col-md-11">
                    <table class="table table-striped">
                        <thead>
                        <tr style="text-align:left; padding: 1px">
                            <th width="5%">ID</th>
                            <th width="10%">产品</th>
                            <th width="5%">接口名称</th>
                            <th width="15%">URL 地址</th>
                            <th width="15%">请求参数</th>
                            <th width="15%">请求 body</th>
                            <th width="5%">方法</th>
                            <th width="5%">预期状态码</th>
                            <th width="5%">预期结果</th>
                            <th width="3%">测试通过？</th>
                            <th width="5%">测试状态码</th>
                            <th width="3%">测试结果</th>
                            <th width="8%">用例添加时间</th>
                            <th width="3%">编辑</th>
                            <th width="3%">删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for apis in api_list %}
                            <tr>
                                <td width=100px>{{ apis.id }}</td>
                                <td width=200px>{{ apis.Product.productname }}</td>
                                <td width=300px>{{ apis.api_name }}</td>
                                <td width=400px>{{ apis.api_url }}</td>
                                <td width=300px>{{ apis.api_param_value }}</td>
                                <td width=400px>{{ apis.api_body_value }}</td>
                                <td width=150px>{{ apis.api_method }}</td>
                                <td width=300px>{{ apis.api_expect_status_code }}</td>
                                <td width=300px>{{ apis.api_expect_response }}</td>
                                <td width=200px>{{ apis.api_status }}</td>
                                <td width=200px>{{ apis.api_response_status_code }}</td>
                                <td width=300px>{{ apis.api_response }}</td>
                                <td width=200px>{{ apis.create_time }}</td>
                                <td width=100px><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Apis" href="/admin/apitest/apis/{{ apis.id }}/change/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-changelink.svg"/></a></td>
                                <td width=100px><a style="color: lightblue" class="related-widget-wrapper-link add-related" id="add_id_Apis" href="/admin/apitest/apis/{{ apis.id }}/delete/?_to_field=id&amp;_popup=1"><img src="/static/admin/img/icon-deletelink.svg"/></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </span>
    </div>
    <div class="column">
        <span class="item4">
            <!-- 翻页功能-->
            <div class="container">
                <ul class="pagination" id="pager">
                    {# 上一页链接开始 #}
                    {% if api_list.has_previous %}
                        <li class="previous"><a href="/apitest/apis_manage/?page={{ api_list.previous_page_number }}&selected_product_id={{ selected_product_id }}&selected_test_result={{ selected_test_result }}&api_list={{ api_list }}">上一页</a></li>
                    {% else %}
                        <li class="previous disabled"><a href="#">上一页</a></li>
                    {% endif %}
                    {# 下一页链接开始 #}
                    {% if api_list.has_next %}
                        <li class="next"><a href="/apitest/apis_manage/?page={{ api_list.next_page_number }}&selected_product_id={{ selected_product_id }}&selected_test_result={{ selected_test_result }}&api_list={{ api_list }}">下一页</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
        </span>
        <span class="item5">
            <div>
                <tr>
                    <th>总数</th>
                    <td>{{ apis_count }}</td>
                </tr>
            </div>
        </span>
    </div>
    </div>
</div>
{#<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>#}
{#<script type="text/javascript">#}
{#    function next_page(page, selected_product_id, selected_test_result, api_list){#}
{#        $.ajax({#}
{#            url: '{% url 'apitest:apis_manage' %}',#}
{#            type: 'GET',#}
{#            data: {'page': page, 'selected_product_id': selected_product_id, 'selected_product_id': selected_product_id, 'api_list': api_list},#}
{#            success: function (e) {#}
{##}
{#            },#}
{#        });#}
{#    }#}
{#</script>#}
</body>
</html>