<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>api 测试</title>
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">自动化测试平台</a>
        <ul class="nav justify-content-center">
            <li><a style="color: white" href="{% url 'apitest:apitest_manage' %}">流程接口测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'apitest:apistep_manage' %}">流程接口测试步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'apitest:apis_manage' %}">单一接口测试用例</a></li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color: white" href="{% url 'apitest:apitest_manage' %}">{{ user }}</a></li>
            <li class="nav-link"><a style="color: white" href="{% url 'apitest:logout'%}">退出</a></li>
        </ul>
    </div>
</nav>
<!-- 搜索栏-->
<div class="page-header" style="padding-top: 70px">
    <form class="navbar-form" method="get" action="{% url 'apitest:search' %}">
        {%  csrf_token %}
        <input type="search" name="apitestname" placeholder="名称" required>
        <button type="submit">搜索</button>
    </form>
</div>
<!-- 流程接口列表-->
<div class="row" style="padding-top: 70px;">
    <div class="col-md-11">
        <table class="table table-striped" >
            <thead>
            <tr style="text-align:left" width=200px>
                <th>ID</th>
                <th>产品</th>
                <th>流程接口测试用例名称</th>
                <th>流程接口描述</th>
                <th>测试负责人</th>
                <th>测试结果</th>
                <th>测试用例步骤</th>
            </tr>
            </thead>
            <tbody>
            {% for apitest in apitests %}
            <tr>
                <td style="text-align:left" width=200px>{{ apitest.id }}</td>
                <td style="text-align:left" width=200px>{{ apitest.Product.productname }}</td>
                <td style="text-align:left" width=200px>{{ apitest.apitestname }}</td>
                <td style="text-align:left" width=200px>{{ apitest.apitestdesc }}</td>
                <td style="text-align:left" width=200px>{{ apitest.apitester }}</td>
                <td style="text-align:left" width=100px>{% if apitest.apitestresult == 1 %}
                    <a style="color: green">{{ apitest.apitestresult }}</a>
                {% else %}
                    <a style="color: #ff0000">{{ apitest.apitestresult }}</a>
                {% endif %}
                </td>
                <td style="text-align:left" width=200px>{{ apitest.Apistep.apiteststep }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- 翻页功能-->
<span style="position: absolute; right: 150px; bottom: 100px;">
<div class="container">
    <ul class="pagination" id="pager">
        {# 上一页链接开始 #}
        {% if apitests.has_previous %}
        <li class="previous"><a href="/apitest/apitest_manage/?page={{ apitests.previous_page_number }}">上一页</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">上一页</a></li>
        {% endif %}

        {% for num in apitests.paginator.page_range %}
            {% if num == currentPage %}
            <li class="item active"><a href="/apitest/apitest_manage/?page={{ num }}">{{ num }}</a></li>
            {% else %}
            <li class="item"><a href="/apitest/apitest_manage/?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {# 下一页链接开始 #}
        {% if apitests.has_next %}
        <li class="next"><a href="/apitest/apitest_manage/?page={{ apitests.next_page_number }}">下一页</a></li>
        {% else %}
        <li class="next disabled"><a href="#">下一页</a></li>
        {% endif %}
    </ul>
</div>
<div style="position: absolute; right:800px; width:100px;">
    <tr>
        <th>总数</th>
        <td>{{ apitestcounts }}</td>
    </tr>
</div>
</body>
</html>