<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dj私域</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .box {
            display: flex;
            flex-wrap: wrap;
        }
        .row{
            flex-basis: 100%;
            display:flex;
            justify-content: center;
            padding-top: 70px;

        }
    </style>
</head>

<body>
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-start">
            <li class="active"><a style="color: white" href="{% url 'apitest:api_datasource' %}">数据源管理</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'apitest:apis_manage' %}">单一接口</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'apitest:apitest_manage' %}">流程接口</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'apptest:appcase_manage' %}">app 用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'webtest:webcase_manage' %}">web 用例</a></li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color: white" href="#">{{ user }}</a></li>
            <li class="nav-link"><a style="color: red" href="{% url 'apitest:logout'%}">退出</a></li>
        </ul>
    </div>
</nav>

<div class="box">
    <div class="row">
        <span class="item">
            <!-- 输入文本进去的-->
            <div class="page-content" style="padding-left: 100px;">
                <form class="navbar-form" method="post" action="{% url 'apitest:api_datasource' %}">
                    {%  csrf_token %}
                    <br> <label>把 JSON 格式的数据源粘贴进来</label>
                    <br> <textarea rows="30" cols="50" name="source" placeholder="把 JSON 格式的数据源粘贴进来" style="resize:none">{{ data }}</textarea>
                    <br> {{ error }}
                    <br> <button type="submit">解析case</button>
                </form>
            </div>
        </span>
        <span>
            <!-- 显示生成的用例-->
            <div class="page-content" style="padding-left: 100px;">
                {%  csrf_token %}
                <br> <label>解析出来的 case</label>
                <br> <textarea rows="30" cols="50" name="source" placeholder="解析出来的 case" style="resize:none">{{ data }}</textarea>
                <br>
                <br> <button type="submit">保存case</button>
            </div>
        </span>
    </div>
</div>




</body>
</html>