<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .box {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-left: 1px;
        }
        .row{
            flex-basis: 100%;
            display:flex;
            padding-top: 50px;
            padding-left: 1px;
        }
        .page-content{
            padding-left: 30px;
            padding-top: 5px;
        }
    </style>
</head>

<body>
<!-- 导航栏-->
{% include 'apitest/header_for_single_api_test.html' %}
<div class="box">
    <div class="row">
        <span class="item1">
            <!-- 输入文本进去的-->
            <div class="container" style="padding-top: 30px; width: 100%">
                <form class="navbar-form" method="post" action="{% url 'apitest:api_datasource' %}">
                    {%  csrf_token %}
                    <div class="container" style="width: 100%">
                        <h3>所属项目（必选）：</h3>
                        <select style="padding: 1px; width: 150px; align-items: start;" name="selected_product_id" autocomplete="off">
                            <option value="-1">全部</option>
                            {%  for product in product_list %}
                                {% if product.id == selected_product_id %}
                                    <option value ="{{ product.id }}" selected="selected">{{ product.productname }}</option>
                                {% else %}
                                    <option value ="{{ product.id }}">{{ product.productname }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <br> <textarea rows="30" cols="200" name="source" placeholder="把 JSON 格式的数据源粘贴进来" style="resize:none; margin-top: 10px">{{ data }}</textarea>
                    <br> <h3 style="color: #0000C0">{{ error }}</h3>
                    <br> <button type="submit" name="analysis">1、检查粘贴内容是否正确</button>
                    <button type="submit" name="save" style="margin-left: 70px">2、保存case（检查项目选了没）</button>
                </form>
            </div>
        </span>
    </div>
</div>
</body>
</html>