<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .box {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            flex-direction: row;
            height: auto;
        }
        .item {
            flex-grow: 1;
            padding: 20px;
        }
        .th {
            padding: 10px;
        }
        .td {
            padding: 10px;
            text-wrap: normal;
        }
    </style>
</head>
<body>
<!-- 导航栏-->
{% include 'apitest/header.html' %}
<div class="box" style="padding-top: 70px">
    <div class="row">
        <span class="item">
            <div style="height:700px; overflow:scroll; overflow-x:hidden;">
                {% include 'apitest/table_api_for_test.html' %}
            </div>
            <h3 style="padding: 10px; width: 200px">当前选中: <span id="js-check-text"></span></h3>
            <button style="padding-inline: 15px" onclick="join()">ok 就这些接口</button>
        </span>
        <span class="item">
{#            <form class="navbar-form" method="post" action="{% url 'apitest:form_api_flow_case' %}">{%  csrf_token %}#}
            <div>
                    <label>新测试场景名称：</label>
                    <input type="text" name="case_name" placeholder="填写名称">
                    <button type="submit" name="try" style="margin-left: 50px" onclick="try_on();">测一下试试</button>
                    <button type="submit" name="create" style="margin-left: 20px" onclick="table_value();">新建流程测试用例</button>
            </div>
            <div style="height:700px; overflow:scroll; overflow-x:hidden;">
                {% include 'apitest/table_case_to_be.html' %}
            </div>
{#            </form>#}
        </span>
    </div>
</div>
<script>
    var checkValues = []
    var value = []
    var length = 0
    var data = [];
    function clickCheckbox () {
        var checkDomArr = document.querySelectorAll('.multi-table tbody input[type=checkbox]:checked')
        checkValues = []
        for (var i = 0, len = checkDomArr.length; i < len; i++) {
            checkValues.push(checkDomArr[i].value)
        }
        updateText()
        var allCheckDomArr = document.querySelectorAll('.multi-table tbody input[type=checkbox]')
        var allCheckbox = document.getElementById('js-all-checkbox')
        for (var i = 0, len = allCheckDomArr.length; i < len; i++) {
            if (!allCheckDomArr[i].checked) {
                if (allCheckbox.checked) allCheckbox.checked = false
                break
            } else if (i === len - 1) {
                document.getElementById('js-all-checkbox').checked = true
                return
            }
        }
    }
    function join (){
        var Cm = $(".adviceSeq:checked:enabled");
        var str = "";
        //循环编列选中的所有行，把值赋予每一行对应的tr和td
        for(var i = 0 ; i < Cm.length ; i++){
            str = str.concat("<tbody id='joined'><tr><td class='td'><a href='#'>⬆️ 上移</a></td><td class='td'>"+Cm[i].getAttribute("attr1")+"</td><td class='td'>"+Cm[i].getAttribute("attr2")+"</td><td class='td'>"+Cm[i].getAttribute("attr3")+"</td><td class='td'>"+Cm[i].getAttribute('attr4')+"</td><td class='td'>"+Cm[i].getAttribute('attr0')+"</td><td class='td'>"+Cm[i].getAttribute("attr1")+"</td><td class='td'>"+Cm[i].getAttribute("attr1")+"</td><td class='td'>"+Cm[i].getAttribute("attr1")+"</td></tr></tbody>");
            {#str = str.concat("<tbody id='joined'><tr><td class='td'><a href='#'>⬆️ 上移</a></td><td class='td'>"+Cm[i].getAttribute("attr1")+"</td><td class='td'>"+Cm[i].getAttribute("attr2")+"</td><td class='td'>"+Cm[i].getAttribute("attr3")+"</td><td class='td'>"+Cm[i].getAttribute("attr4")+"</td><td class='td'><a style='color: lightblue' class='related-widget-wrapper-link add-related' id='add_id_Apis' href='/admin/apitest/apis/{{ apis.id }}/change/?_to_field=id&amp;_popup=1'><img src='/static/admin/img/icon-changelink.svg'/></a></td><td class='td'><a style='color: lightblue' class='related-widget-wrapper-link add-related' id='add_id_Apis' href='/admin/apitest/apis/{{ apis.id }}/delete/?_to_field=id&amp;_popup=1'><img src='/static/admin/img/icon-deletelink.svg'/></a></td><td><a href='#'><img src='/static/admin/img/icon-deletelink.svg'/></a></td></tr></tbody>");#}
        }
        $("#show_list").append(str);
        $.ajax({
            url: "{% url 'apitest:form_api_flow_case' %}",
            type: "POST",
            data: {"data": JSON.stringify(checkValues), 'choice': ''},

        })
    }

    function try_on() {
        var tb = document.getElementById('show_list')
        var rows = tb.rows;                           // 获取表格所有行
        var data_list = [];
        for(var i = 1; i<rows.length; i++ ){
            var api_info = ''
            for(var j = 5; j<rows[i].cells.length-1; j++ ){    // 遍历该行的 td
                api_info = api_info + rows[i].cells[j].innerHTML + ','
                {#alert("第"+(i+1)+"行，第"+(j+1)+"个td的值："+rows[i].cells[j].innerHTML+"。");           // 输出每个td的内容#}
            }
            {#alert(api_info)#}
            data_list[i-1] = api_info
            {#alert('data_list:'+data_list)#}
        }
        $.ajax({
            url: "{% url 'apitest:form_api_flow_case' %}",
            type: "POST",
            data: {"data_list": JSON.stringify(data_list), 'try': ''},
            success: function (e){
                if (e="1"){
                    alert('test successfully')
                }else if (e="0"){
                    alert('test fail')
                }
            },
        })
    }

    function checkAll (current) {
        var allCheckDomArr = document.querySelectorAll('.multi-table tbody input[type=checkbox]')
        if (!current.checked) { // 点击的时候, 状态已经修改, 所以没选中的时候状态时true
            checkValues = []
            for (var i = 0, len = allCheckDomArr.length; i < len; i++) {
                var checkStatus = allCheckDomArr[i].checked
                if (checkStatus) allCheckDomArr[i].checked = false
            }
        } else {
            checkValues = []
            for (var i = 0, len = allCheckDomArr.length; i < len; i++) {
                var checkStatus = allCheckDomArr[i].checked
                if (!checkStatus) allCheckDomArr[i].checked = true
                checkValues.push(allCheckDomArr[i].value)
            }
        }
        updateText()
    }

    function updateText () {
        document.getElementById('js-check-text').innerHTML = JSON.stringify(checkValues)
    }
    
    function table_value() {
        var Cm = $(".adviceSeq:checked:enabled");
        var str = "";
        //循环编列选中的所有行，把值赋予每一行对应的tr和td
        for(var i = 0 ; i < Cm.length ; i++){
            {#str = str.concat("<tbody id='joined'><tr><td class='td'><a href='#'>⬆️ 上移</a></td><td class='td'>"+Cm[i].getAttribute("attr1")+"</td><td class='td'>"+Cm[i].getAttribute("attr2")+"</td><td class='td'>"+Cm[i].getAttribute("attr3")+"</td><td class='td'>"+Cm[i].getAttribute("attr4")+"</td><td class='td'><a style='color: lightblue' class='related-widget-wrapper-link add-related' id='add_id_Apis' href='/admin/apitest/apis/{{ apis.id }}/change/?_to_field=id&amp;_popup=1'><img src='/static/admin/img/icon-changelink.svg'/></a></td><td class='td'><a style='color: lightblue' class='related-widget-wrapper-link add-related' id='add_id_Apis' href='/admin/apitest/apis/{{ apis.id }}/delete/?_to_field=id&amp;_popup=1'><img src='/static/admin/img/icon-deletelink.svg'/></a></td><td><a href='#'><img src='/static/admin/img/icon-deletelink.svg'/></a></td></tr></tbody>");#}
            str = str.concat("<tbody id='joined'><tr><td class='td'><a href='#'>⬆️ 上移</a></td><td class='td'>"+Cm[i].getAttribute("attr1")+"</td><td class='td'>"+Cm[i].getAttribute("attr2")+"</td><td class='td'>"+Cm[i].getAttribute("attr3")+"</td><td class='td'>"+Cm[i].getAttribute("attr4")+"</td></tr></tbody>");
        }
        $("#show_list").append(str);
    }
</script>
</body>
</html>