<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top"></nav>
<table border="0">
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="{% url 'apitest:apitest_manage' %}" target="mainFrame">&nbsp;&nbsp;项目管理</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>-----------------------------------</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a href="{% url 'apitest:apitest_manage' %}" target="mainFrame">&nbsp;&nbsp;用例管理</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a href="{% url 'apitest:apitest_manage' %}" target="mainFrame">&nbsp;&nbsp;api接口测试用例列表</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a href="http://127.0.0.1:8000/admin/apitest/apitest/add/" target="mainFrame">&nbsp;&nbsp;新增api接口测试用例</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>-----------------------------------</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a href="http://127.0.0.1:8000/admin/apitest/apitest/add/" target="mainFrame">&nbsp;&nbsp;任务管理</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>-----------------------------------</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a href="http://127.0.0.1:8000/admin/apitest/apitest/add/" target="mainFrame">&nbsp;&nbsp;测试报告</a></td></tr>
</table>

</body>
</html>