<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试报告</title>
</head>
<body>
<div class="row" style="padding-top: 55px">
    <div class="col-md-11">
        <table class="table table-striped">
            <div style="position: absolute; right: 10px; width: 10px;">
                <tr style="text-align: center">
                    <th></th><th></th><th></th><th></th><th></th><th>单一接口扫描-自动化测试汇总报告</th>
                </tr>
                <tr>
                    <th style="text-align:left" width=200px>用例总数</th>
                    <td>{{ apis_count }}</td>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                </tr>
                <tr>
                    <th style="text-align:left" width=200px>通过</th>
                    <td>{{ apis_pass_count }}</td>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                </tr>
                <tr>
                    <th style="text-align:left" width=200px>不通过</th>
                    <td><a style="color: red">{{ apis_fail_count }}</a></td>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                </tr>
            </div>
        </table>

        <!-- 单一接口测试用例-->
        <table class="table table-striped">
            <thead>
            <tr style="text-align:left">
                <th width=200px>失败接口列表</th><td>
                <tr>
                    <th style="text-align:left">ID</th>
                    <th style="text-align:left">产品</th>
                    <th style="text-align:left">测试用例名称</th>
                    <th style="text-align:left">URL 地址</th>
                    <th style="text-align:left">参数=值</th>
                    <th style="text-align:left">方法</th>
                    <th style="text-align:left">预期结果</th>
                    <th style="text-align:left">测试结果</th>
                    <th style="text-align:left">执行时间</th>
                </tr>
            </tr>


            </thead>
            <tbody>
            {% for apis in apis_list %}
                <tr>
                {% if apis.apistatus == 0 %}
                    <td width=100px>{{ apis.id }}</td>
                    <td width=200px>{{ apis.Product.productname }}</td>
                    <td width=300px>{{ apis.apiname }}</td>
                    <td width=500px>{{ apis.apiurl }}</td>
                    <td width=300px>{{ apis.apiparamvalue }}</td>
                    <td width=150px>{{ apis.apimethod }}</td>
                    <td width=300px>{{ apis.apiresult }}</td>
                    <td width=200px>{% if apis.apistatus == 1 %}<a style="color: green">{{ apis.apistatus }}</a>{% else %}<a style="color: red">{{ apis.apistatus }}</a>{% endif %}</td>
                    <td width=200px>{{ apis.create_time }}</td>
                {% else %}
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>