<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <style>
        .box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            align-content: flex-start;
            height: auto;
        }
        .column {
            align-self: flex-start;
            padding-left: 10px;
            width: 100%;
        }
        .row{
            flex-basis: 100%;
            display:flex;
            padding-left: 10px;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .item3, .item1, .item5 {
            align-items: flex-start;
            flex-basis: 100%;
            width: 100%;
        }
    </style>
</head>
<body role="document">
<!-- 导航栏-->
{% include 'apitest/header_for_test_report.html' %}
<div class="box">
    <div class="column">
        <span class="item1">
            <div class="container">
            <!-- 搜索栏-->
            <div class="page-header" style="padding-top: 30px; height: 10%;">
                <form class="navbar-form" method="post" action="{% url 'apitest:test_report' %}">
                    {%  csrf_token %}
                    <h2>过滤测试报告：</h2>
                    <label>测试类型：</label>
                         <select style="padding: 1px; width: 150px;" name="selected_test_type" autocomplete="off">
                            <option value="-1">全部</option>
                             {%  for type in test_type_list %}
                                 {% if type == selected_test_type %}
                                     <option value ="{{ type }}" selected="selected">{{ type }}</option>
                                 {% else %}
                                     <option value ="{{ type }}">{{ type }}</option>
                                 {% endif %}
                             {% endfor %}
                        </select>
                    <label style="margin-left: 20px">测试结果：</label>
                        <select style="padding: 1px; width: 150px;" name="selected_report_result">
                            <option value="-1">全部</option>
                            {% for test_result, result_info in report_result_look_up_dict.items %}
                                {% ifequal selected_report_result test_result %}
                                    <option value="{{ test_result }}" selected>{{ result_info.result_name }}</option>
                                {% else %}
                                    <option value="{{ test_result }}">{{ result_info.result_name }}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    <button type="submit" name="filter" style="margin-left: 50px">查看所选测试报告</button>
                </form>
            </div>
            </div>
        </span>
        <div class="row">
        <span class="item3">
            <!-- 测试报告-->
            <div class="row">
                <div class="col-md-11" style="height:600px; overflow:scroll; overflow-x:hidden;">
                    <table class="table table-striped">
                        <thead>
                        <tr style="text-align:left; padding: 1px">
                            <th>测试报告（默认时间倒序排序）</th>
                            <th>测试类型</th>
                            <th>创建时间</th>
                            <th>测试结果（全部通过才算通过）</th>
                            <th>测试人</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for file in file_list %}
                            <tr>
                                {% for item in file %}
                                    {% if forloop.counter == 1 %}
                                        <td>
                                            <a href="{% url 'apitest:test_report_detail' item %}">
                                                {{ item }}
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>{{ item }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </span>
        </div>
        <div class="column">
        <span class="item4">
            <!-- 翻页功能-->
{#            <div class="container">#}
{#                <ul class="pagination" id="pager">#}
                    {# 上一页链接开始 #}
{#                    {% if file_list.has_previous %}#}
{#                        <li class="previous"><a href="/apitest/test_report/?page={{ file_list.previous_page_number }}&selected_product_id={{ selected_product_id }}&selected_report_result={{ selected_report_result }}&file_list={{ file_list }}">上一页</a></li>#}
{#                    {% else %}#}
{#                        <li class="previous disabled"><a href="#">上一页</a></li>#}
{#                    {% endif %}#}
                    {# 下一页链接开始 #}
{#                    {% if file_list.has_next %}#}
{#                        <li class="next"><a href="/apitest/test_report/?page={{ file_list.next_page_number }}&selected_product_id={{ selected_product_id }}&selected_report_result={{ selected_report_result }}&file_list={{ file_list }}">下一页</a></li>#}
{#                    {% else %}#}
{#                        <li class="next disabled"><a href="#">下一页</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </div>#}
        </span>
            <span class="item5">
            <div style="padding-top: 20px">
                <tr>
                    <th>总数</th>
                    <td>{{ report_count }}</td>
                </tr>
            </div>
        </span>
        </div>
    </div>
</div>
</body>
</html>