<table class="multi-table" border>
    <thead>
    <tr class="tr">
        <th class="th"><input id="js-all-checkbox" type="checkbox" onclick="checkAll(this)"></th>
        <th class="th">id</th>
        <th class="th">产品</th>
        <th class="th">接口名称</th>
        <th class="th">url</th>
    </tr>
    </thead>
    <tbody>
    {% for api in api_for_test_list %}
        <tr>
            <td class="td">
                <input type="checkbox" name="select" value={{ api.id }} onclick="clickCheckbox()">
            </td>
            <td class="td">{{ api.id }}</td>
            <td class="td">{{ api.Product.productname }}</td>
            <td class="td">{{ api.api_name }}</td>
            <td class="td">{{ api.api_url }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>