<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tbody id='joined'>
<tr>
    <td class='td'>
        <a href='#'>上移</a>
    </td>
    <td class='td'>"+Cm[i].getAttribute("attr1")+"</td>
    <td class='td'>"+Cm[i].getAttribute("attr2")+"</td>
    <td class='td'>"+Cm[i].getAttribute("attr3")+"</td>
    <td class='td'>"+Cm[i].getAttribute("attr4")+"</td>
    <td class='td'>"+Cm[i].getAttribute("attr0")+"</td>
    <td class='td'>
        <input type='text' name='output_parameters' placeholder='出参'>
    </td>
    <td class='td'>
        <input type='text' name='input_parameters' placeholder='入参'>
    </td>
    <td class='td'><a style='color: lightblue' class='related-widget-wrapper-link add-related' id='add_id_Apis' href='/admin/apitest/apis/{{ apis.id }}/change/?_to_field=id&amp;_popup=1'><img src='/static/admin/img/icon-changelink.svg'/></a></td>
    <td class='td'><a style='color: lightblue' class='related-widget-wrapper-link add-related' id='add_id_Apis' href='/admin/apitest/apis/{{ apis.id }}/delete/?_to_field=id&amp;_popup=1'><img src='/static/admin/img/icon-deletelink.svg'/></a></td>
</tr>
</tbody>
</body>
</html>