<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>api 测试</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <script rel="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maxinum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css" />
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center">

        </ul>
        <ul class="nav justify-content-center">
            <li class="nav-link"><a style="color: white" href="{% url 'apitest:apitest_manage' %}">{{ user }}</a></li>
            <li class="nav-link"><a style="color: white" href="{% url 'apitest:logout'%}">退出</a></li>
        </ul>
    </div>
</nav>

<!-- 搜索栏-->
<div class="page-header" style="padding-top: 70px">
    <form class="navbar-form" method="get" action="{% url 'bug:search' %}">
        {%  csrf_token %}
        <input type="search" name="bugname" placeholder="名称" required>
        <button type="submit">搜索</button>
    </form>
</div>
<!-- 添加数据-->
<div style="float: top">
    <select name="Bug" id="id_Bug">
        <option value="" selected>-----bug 管理-----</option>
        {% for bug in bugs %}
            <option value={{ bug.id }}>{{ bug.bugname }}</option>
        {% endfor %}
    </select>
    <a class="related-widget-wrapper-link change-related" id="change_id_Apitest" data-href-template="/admin/apitest/apitest/?????/change/?_to_field=id&amp;_popup=1" title="更改选中的测试用例">
        <img src="/static/admin/img/icon-changelink.svg" alt="修改"/>修改
    </a>
    <a class="related-widget-wrapper-link change-related" id="add_id_Apitest" href="/admin/bug/bug/add/?_to_filed=id&amp;_popup=1" title="增加一个测试用例">
        <img src="/static/admin/img/icon-addlink.svg" alt="增加"/>增加
    </a>
</div>
<!-- bug 列表-->
<div class="row" style="padding-top: 70px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr style="text-align:left">
                <th>ID</th>
                <th>产品</th>
                <th>bug 名称</th>
                <th>bug 详情</th>
                <th>解决状态</th>
                <th>严重程度</th>
                <th>创建人</th>
                <th>分配给</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            {% for bug in bugs %}
                <tr>
                    <td width=100px>{{ bug.id }}</td>
                    <td width=200px>{{ bug.Product.productname }}</td>
                    <td width=300px>{{ bug.bugname }}</td>
                    <td title="{{ bug.bugdetail }}" width=500px>{{ bug.bugdetail }}</td>
                    <td width=300px>{{ bug.bugstatus }}</td>
                    <td width=150px>{{ bug.buglevel }}</td>
                    <td width=300px>{{ bug.bugcreater }}</td>
                    <td width=200px>{{ bug.bugassign }}</td>
                    <td width=200px>{{ bug.create_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- 翻页功能-->
<span style="position: absolute; right: 150px; bottom: 100px;">
<div class="container">
    <ul class="pagination" id="pager">
        {# 上一页链接开始 #}
        {% if bugs.has_previous %}
            <li class="previous"><a href="/bug/bug_manage/?page={{ bugs.previous_page_number }}">上一页</a></li>
        {% else %}
            <li class="previous disabled"><a href="#">上一页</a></li>
        {% endif %}

        {% for num in bugs.paginator.page_range %}
            {% if num == currentPage %}
                <li class="item active"><a href="/bug/bug_manage/?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li class="item"><a href="/bug/bug_manage/?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {# 下一页链接开始 #}
        {% if bugs.has_next %}
            <li class="next"><a href="/bug/bug_manage/?page={{ bugs.next_page_number }}">下一页</a></li>
        {% else %}
            <li class="next disabled"><a href="#">下一页</a></li>
        {% endif %}
    </ul>
</div>
<div style="position: absolute; right:800px; width:100px;">
    <tr>
        <th>总数</th>
        <td>{{ bugcounts }}</td>
    </tr>
</div>
</body>
</html>