<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>Web 测试步骤</title>
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">web 测试</a>
        <ul class="nav justify-content-center">
            <li><a style="color: white" href="{% url 'webtest:webcase_manage' %}">web 测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="{% url 'webtest:webcasstep_manage' %}">app 测试用例步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color: red" href="#">{{ user }}</a> </li>
            <li class="nav-link"><a style="color: red" href="{% url 'apitest:logout' %}">退出</a> </li>
        </ul>
    </div>
</nav>
<!-- 搜索栏-->
<div class="page-header" style="padding-top: 70px">
    <form class="navbar-form" method="get" action="{% url 'webtest:webstepsearch' %}">
        {%  csrf_token %}
        <input type="search" name="webcasename" placeholder="名称" required>
        <button type="submit">搜索</button>
    </form>
</div>
<!-- Web 测试步骤-->
<div class="row" style="padding-top: 20px;">
    <div class="col-md-11">
        <table class="table table-striped">
            <style>
                td{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
            </style>
            <thead>
            <tr style="text-align:left">
                <th>所属产品</th>
                <th>所属用例</th>
                <th>步骤</th>
                <th>定位方式</th>
                <th>控件元素</th>
                <th>操作方法</th>
                <th>测试数据</th>
                <th>验证数据</th>
                <th>测试结果</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            {% for webcasestep in webcasesteps %}
                <tr>
                    <td width=200px>{{ webcasestep.Webcase.Product.productname }}</td>
                    <td width=500px>case{{ webcasestep.Webcase.id }}:{{ webcasestep.Webcase.webcasename }}</td>
                    <td width=500px>{{ webcasestep.webcasestep }}:{{ webcasestep.webtestobjname }}</td>
                    <td width=500px>{{ webcasestep.webfindmethod }}</td>
                    <td width=500px>{{ webcasestep.webevelement }}</td>
                    <td width=500px>{{ webcasestep.weboptmethod }}</td>
                    <td width=500px>{{ webcasestep.webtestdata }}</td>
                    <td width=500px>{{ webcasestep.webassertdata }}</td>
                    <td width=500px>{% if webcasestep.webtestresult == 1 %}<a style="color: green">{{ webcasestep.webtestresult }}</a>{% else %}<a style="color: red"></a>{% endif %}</td>
                    <td width=500px>{{ webcasestep.create_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- 翻页功能-->
<span style="position: absolute; right: 150px; bottom: 100px;">
<div class="container">
    <ul class="pagination" id="pager">
        {# 上一页链接开始 #}
        {% if webcasesteps.has_previous %}
            <li class="previous"><a href="/webtest/webcasestep_manage/?page={{ webcasesteps.previous_page_number }}">上一页</a></li>
        {% else %}
            <li class="previous disabled"><a href="#">上一页</a></li>
        {% endif %}

        {% for num in webcasesteps.paginator.page_range %}
            {% if num == currentPage %}
                <li class="item active"><a href="/webtest/webcasestep_manage/?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li class="item"><a href="/webtest/webcasestep_manage/?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {# 下一页链接开始 #}
        {% if webcasesteps.has_next %}
            <li class="next"><a href="/webtest/webcasestep_manage/?page={{ webcasesteps.next_page_number }}">下一页</a></li>
        {% else %}
            <li class="next disabled"><a href="#">下一页</a></li>
        {% endif %}
    </ul>
</div>
</body>
</html>